################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dasm/bin
/dasm/obj
/dasm/.vs
*.csproj.user
